

<body>
{% extends 'base/base.html' %}
{% load has_group %}


{% block content %}
{% if request.user|has_group:"Menedzer,Aktor" %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th> ID Roli</th>
        <th>Rola </th>
        <th>Typ roli</th>
        <th>Dotyczy filmu</th>
        <th>Aktor</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
{% for rola in role %}
    <tr>
        <td>{{ rola.id }}</td>
        <td>{{ rola.tytul }}</td>
        <td>{{ rola.typ_roli }}</td>
        <td>{{ rola.id_film }}</td>
        <td>{{ rola.id_aktor }}</td>
        <td>
            {% if request.user|has_group:"Menedzer" %}
            <a href="/rola/edit/{{ rola.id}}"><span class="glyphicon glyphicon-pencil" >Edytuj</span></a>
            <a href="/rola/delete/{{ rola.id }}">Usuń</a>
                {% else %}
                Brak dostepnych akcji
            {% endif %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
    {% if request.user|has_group:"Menedzer" %}
<center><a href="/rola/emp" class="btn btn-primary">Dodaj nową rolę</a></center>
    {% else %}
                Brak dostepnych akcji
            {% endif %}
{% else %} Odmowa uprawnień <br>
 Jeśli powinieneś mieć dostęp skontaktuj się z administratorem {% endif %}

{% endblock %}
</body>
</html>