<body>
{% extends 'base/base.html' %}
{% block content %}
<center>
    <div style="height: 500px; width: 500px">
{% load static %}
<img src="{% static "/css/logo.jpg" %}" class="img-fluid" alt="Responsive image" width="240" height="200"/>
<h2>Zaloguj się</h2>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Zaloguj się</button>
</form>
<form action="/accounts/signup/">
    <input type="submit" value="Zarejestruj się" />
</form>
            </div>
</center>
{% endblock %}

</body>
</html>