
<body>
{% extends 'base/base.html' %}
{% block content %}
     {% load mapbox_location_field_tags %}
 {% location_field_includes %}
 {% include_jquery %}
<form method="POST" class="post-form" action="/studio/update/{{studio.id}}">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Aktalizuj dane</h3>
    </div>
  </div>
        <div class="form-group row">
    <label class="col-sm-2 col-form-label">ID:</label>
    <div class="col-sm-4">
        <input type="text" name="eid" id="id_eid" required maxlength="20" value="{{ studio.id}}"/>
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Gatunek:</label>
    <div class="col-sm-4">
        <input type="text" name="nazwa" id="id_nazwa" required maxlength="20" value="{{ studio.nazwa}}"/>
    </div>
  </div>

            <div class="form-group row">
    <label class="col-sm-2 col-form-label">Adres:</label>
    <div class="col-sm-4">
        <input type="text" name="adres" id="id_adres" required maxlength="20" value="{{ studio.adres}}"/>
    </div>
  </div>

            <div class="form-group row">
    <label class="col-sm-2 col-form-label">Gatunek:</label>
    <div class="col-sm-4">
        <input type="text" name="powierzchnia" id="id_powierzchnia" required maxlength="20" value="{{ studio.powierzchnia}}"/>
    </div>
  </div>

                    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Lokalizacja:</label>
    <div class="col-sm-4">
        <input type="text" name="location" id="id_location" required maxlength="20" value="{{ studio.location}}"/>
    </div>
  </div>



    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Aktualizuj</button>
    </div>
  </div>
    </div>
</form>

{% endblock %}
</body>
</html>