
<body>
{% extends 'base/base.html' %}
{% block content %}
    {% load mapbox_location_field_tags %}
    {% location_field_includes %}
    {% include_jquery %}
    {% load has_group %}
    {% if request.user|has_group:"Menedzer,Aktor,Pracownik" %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th> ID </th>
        <th>Nazwa </th>
        <th>Powierzchnia </th>
        <th>Adres</th>
        <th>Lokalizacja</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
{% for studio in studia %}
    <tr>
        <td>{{ studio.id }}</td>
        <td>{{ studio.nazwa }}</td>
        <td>{{ studio.powierzchnia }}</td>
        <td>{{ studio.adres }}</td>
        <td>{{ studio.location }}</td>
        <td>
            {% if request.user|has_group:"Menedzer" %}
            <a href="/studio/edit/{{ studio.id}}"><span class="glyphicon glyphicon-pencil" >Edytuj</span></a>
            <a href="/studio/delete/{{ studio.id }}">Usuń</a>
            {% else %}
            Brak dostepnych akcji
            {% endif %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
    {% if request.user|has_group:"Menedzer" %}
<center><a href="/studio/emp" class="btn btn-primary">Dodaj nowe studio</a></center>
    {% else %}
            Brak dostepnych akcji
            {% endif %}

{% else %} Odmowa uprawnień <br>
 Jeśli powinieneś mieć dostęp skontaktuj się z administratorem {% endif %}
{% endblock %}
</body>
</html>