
<body>
{% extends 'base/base.html' %}
{% block content %}
    {% load has_group %}
    {% if request.user|has_group:"Menedzer" %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th> ID Menadzera</th>
        <th>Imię </th>
        <th>Nazwisko</th>
        <th>Data zatrudnienia</th>
        <th>Wynagrodzenie</th>
        <th>Data Urodzenia</th>
        <th>Numer telefonu</th>
        <th>Email</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
{% for aktor in aktorzy %}
    <tr>
        <td>{{ aktor.id }}</td>
        <td>{{ aktor.imie }}</td>
        <td>{{ aktor.nazwisko }}</td>
        <td>{{ aktor.data_zatrudnienia }}</td>
        <td>{{ aktor.wynagrodzenie }}</td>
        <td>{{ aktor.data_urodzenia }}</td>
        <td>{{ aktor.nrtel }}</td>
        <td>{{ aktor.eemail }}</td>
        <td>
            {% if request.user|has_group:"Menedzer" %}
            <a href="/aktor/edit/{{ aktor.id}}"><span class="glyphicon glyphicon-pencil" >Edytuj</span></a>
            <a href="/aktor/delete/{{ aktor.id }}">Usuń</a>
            {% else %} Brak dostepnych akcji {% endif %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
    {% if request.user|has_group:"Menedzer" %}
<center><a href="/aktor/emp" class="btn btn-primary">Dodaj nowego aktora</a></center>
    {% else %} Brak dostepnych akcji {% endif %}
    {% else %} Odmowa uprawnień <br>
 Jeśli powinieneś mieć dostęp skontaktuj się z administratorem {% endif %}
{% endblock %}
</body>
</html>