
<body>
{% extends 'base/base.html' %}
{% block content %}
<form method="POST" class="post-form" action="/gatunekfilmu/update/{{gatunek.id}}">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Aktalizuj dane</h3>
    </div>
  </div>
        <div class="form-group row">
    <label class="col-sm-2 col-form-label">ID:</label>
    <div class="col-sm-4">
        <input type="text" name="eid" id="id_eid" required maxlength="20" value="{{ gatunek.id}}"/>
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Gatunek:</label>
    <div class="col-sm-4">
        <input type="text" name="gatunekk" id="id_gatunekk" required maxlength="20" value="{{ gatunek.gatunekk}}"/>
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Aktualizuj</button>
    </div>
  </div>
    </div>
</form>
{% endblock %}
</body>
</html>