
<body>
{% extends 'base/base.html' %}
{% block content %}
    {% load has_group %}
    {% if request.user|has_group:"Menedzer,Pracownik" %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th> ID zadania</th>
        <th>Tytuł </th>
        <th>Opis</th>
        <th>Termin</th>
        <th>Dotyczy pracownika</th>
        <th>Dotyczy menadzera</th>
        <th>Dotyczy filmu</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
{% for zadanie in zadania %}
    <tr>
        <td>{{ zadanie.id }}</td>
        <td>{{ zadanie.tytul }}</td>
        <td>{{ zadanie.opis }}</td>
        <td>{{ zadanie.termin }}</td>
        <td>{{ zadanie.id_pracownik }}</td>
        <td>{{ zadanie.id_menadzer }}</td>
        <td>{{ zadanie.id_film }}</td>
        <td>
            {% if request.user|has_group:"Menedzer" %}
            <a href="/zadanie/edit/{{ zadanie.id}}"><span class="glyphicon glyphicon-pencil" >Edytuj</span></a>
            <a href="/zadanie/delete/{{ zadanie.id }}">Usuń</a>
            {% else %} Brak dostepnych akcji {% endif %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
    {% if request.user|has_group:"Menedzer" %}
<center><a href="/zadanie/emp" class="btn btn-primary">Dodaj nowe zadanie</a></center>
    {% else %} Brak dostepnych akcji {% endif %}

{% else %} Odmowa uprawnień <br>
 Jeśli powinieneś mieć dostęp skontaktuj się z administratorem {% endif %}
{% endblock %}
</body>
</html>